* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body,
html {
	color: #555;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

/*-------------------*/
/*------REUSABLE------*/
/*-------------------*/

h1 {
	font-size: 350%;
	font-weight: 100;
	color: #fff;
}

h2 {
	font-size: 200%;
	font-weight: 300;
	color: rgb(255, 255, 255);
	padding-top: 30px;
	text-align: center;
	text-transform: uppercase;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #6a0435;
	content: " ";
	width: 6%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 30px;
}

h3 {
	font-size: 150%;
	font-weight: 400;
	color: #6a0435;
	padding-top: 10px;
	text-align: center;
	text-transform: uppercase;
}

h4 {
	font-size: 170%;
	font-weight: 300;
	color: #fff;
}

h5 {
	font-size: 120%;
	font-weight: 300;
	color: #fff;
}

p {
	letter-spacing: 0.5px;
	line-height: 1.7;
}

.btn {
	font-weight: 300;
	font-size: 100%;
}

.btn-maroon,
.btn-maroon:link,
.btn-maroon:visited {
	background-color: #6a0435;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	color: #fff;
}

.btn-maroon:hover,
.btn-maroon:active {
	background-color: #bc075e;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	color: #fff;
}

section {
	margin-bottom: 35px;
	position: relative;
}

img {
	width: 100%;
}

.container {
	margin-bottom: 20px;
}

a:hover {
	border: none;
	text-decoration: none;
}

/*-------------------*/
/*------HEADER------*/
/*-------------------*/

header {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/header.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: fixed;
	width: 100vw;
	z-index: 0;
}

header h1 {
	font-family: "EB Garamond", serif;
	font-weight: 400;
}

header h4 {
	font-family: "EB Garamond", serif;
	font-weight: 400;
}


.header-placeholder {
	height: 100vh;
	z-index: -1;
}

header .header-row {
	position: absolute;
	left: 10%;
	top: 35%;
	opacity: 0;
	transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-o-transition: opacity 0.1s;

}

header .header-row.initial {
	animation: animate-header 0.6s ease-out 3.3s forwards;
	-webkit-animation: animate-header 0.6s ease-out 3.3s forwards;
}

header .header-row.animated {
	opacity: 0;
}

@keyframes animate-header {
	to {
		opacity: 1;
	}
}



.main-logo {
	position: absolute;
	top: 3%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.main-logo img {
	height: 200px;
	width: auto;
}

.svg-logo {
	fill: transparent;
	height: 25vh;
	width: auto;
	stroke:#fff;
	stroke-width: 40;
	animation: fill-animate 0.3s ease-out 1.8s forwards, translate-logo 1s ease-out 2.1s forwards;
	-webkit-animation: fill-animate 0.3s ease-out 1.8s forwards, translate-logo 1s ease-out 2.1s forwards;
	transform: translateY(60%) scale(2);
	-webkit-transform: translateY(60%) scale(2);
	-moz-transform: translateY(60%) scale(2);
	-ms-transform: translateY(60%) scale(2);
	-o-transform: translateY(60%) scale(2);
}

.svg-logo-small {
	fill: #fff;
	height: 5vh;
	width: auto;
	margin-bottom: 10px;
}

path.outer-circle {
	transition: transform 0.5s ease;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	-ms-transition: transform 0.5s ease;
	-o-transition: transform 0.5s ease;
}

path.outer-circle{
	stroke-dasharray: 30935;
	stroke-dashoffset: 30935;
	animation: key-stroke-animate 2s ease forwards;
	-webkit-animation: key-stroke-animate 2s ease forwards;
}

path.the-a{
	stroke-dasharray: 8975;
	stroke-dashoffset: 8975;
	animation: key-stroke-animate 1s 0.5s ease forwards;
	-webkit-animation: key-stroke-animate 1s 0.5s ease forwards;
}

path.the-j{
	stroke-dasharray: 5474;
	stroke-dashoffset: 5474;
	animation: key-stroke-animate 1s 0.8s ease forwards;
	-webkit-animation: key-stroke-animate 1s 0.8s ease forwards;
}

path.the-h{
	stroke-dasharray: 11262;
	stroke-dashoffset: 11262;
	animation: key-stroke-animate 1s 1.1s ease forwards;
	-webkit-animation: key-stroke-animate 1s 1.1s ease forwards;
}

/*pathlengths: circle - 30934.982421875
A - 8974.5166015625
J - 5473.46044921875
H - 11261.841796875*/
@keyframes key-stroke-animate {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes fill-animate {
	to {
		fill: #fff;
		stroke-width: 0;
		
}
}

@keyframes translate-logo {
	to {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
	}
}


/*--------------*/
/*-----Nav-----*/
/*--------------*/


.section-nav {
	position: sticky;
	right: 0;
	top: 0;
	z-index: 99;
	background-color: transparent;
	transition: background-color 0.2s ease-out;
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-ms-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
}

.section-nav.scrolled {
	background-color: rgba(107, 107, 107, 0.267);
}

.section-nav.scrolled .navbar {
	padding-bottom: 0;
}

.section-nav.scrolled .nav-link {
	font-size: 80%;
}

.nav-icon {
	color: #fff;
	cursor: pointer;
	max-height: 50px;
	width: auto;
	margin-bottom: 10px;
	opacity: 0;
	transition: opacity 0.2 ease-out;
	-webkit-transition: opacity 0.2 ease-out;
	-moz-transition: opacity 0.2 ease-out;
	-ms-transition: opacity 0.2 ease-out;
	-o-transition: opacity 0.2 ease-out;
}

.section-nav.scrolled .nav-icon {
	opacity: 1;
}

.nav-link {
	font-size: 100%;
	color: #fff;
	font-weight: 400;
	transition: font-size 0.2s ease-out;
	-webkit-transition: font-size 0.2s ease-out;
	-moz-transition: font-size 0.2s ease-out;
	-ms-transition: font-size 0.2s ease-out;
	-o-transition: font-size 0.2s ease-out;
}

.nav-item {
	transition: opacity ease 0.2s;
	-webkit-transition: opacity ease 0.2s;
	-moz-transition: opacity ease 0.2s;
	-ms-transition: opacity ease 0.2s;
	-o-transition: opacity ease 0.2s;
}

.nav-item.active {
	opacity: 1;
}

.nav-link::after {
	content: "";
	width: 100%;
	height: 3px;
	color: white;
	background-color: #bc075e;
	display: block;
	margin-top: 5px;
	border-radius: 3px;
	-webkit-border-radius: 3p;
	-moz-border-radius: 3p;
	-ms-border-radius: 3p;
	-o-border-radius: 3p;
	transform: scale(0, 1);
	-webkit-transform: scale(0, 1);
	-moz-transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	-o-transform: scale(0, 1);
	transform-origin: left;
	transition: transform 0.3s;
	-webkit-transition: transform 0.3s;
	-moz-transition: transform 0.3s;
	-ms-transition: transform 0.3s;
	-o-transition: transform 0.3s;
}

.nav-link:hover {
	color: #fff;
}

.secondary-nav .nav-link {
	color: #fff;
	font-size: 80%;
	padding: 0;
}

.nav-link:hover::after,
.nav-link:active::after,
.nav-link:focus::after {
	color: #fff;
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
}

.nav-link:focus {
	outline: none;
}


/*-------------------*/
/*------SERVICES------*/
/*-------------------*/

#services {
	background-image: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8));
	position: relative;
}
.service-box {
	box-shadow: 0 2px 2px #555;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}

.card {
	opacity: 0;
	transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
}

.card.animated {
	opacity: 1;
}

.card-body {
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}

.card-title {
	font-size: 150%;
	color: #fff;
	font-weight: 300;
	padding: 10px 0 20px 10px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}

ul {
	list-style: none;
	list-style-position: outside;
	color: #fff;
}

ul ul {
	list-style: none;
	margin-left: 30px;
}

#services ul li::before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
	padding: 0 10px 0 0;
	color: #609c2a;
	
}

#services ul ul li::before {
    content: "";
    font-family: "Font Awesome 5 Free";
	padding: 0 10px 0 0;
	color: #fff;
}

.ajh-check {
	color: #609c2a;
	margin-right: 15px;
}

.ajh-list-icon {
	margin-right: 15px;
}

.card {
	border: none;
}

/*make responsive*/
.card-columns {
	column-count: 2;
}

.card-img-accounting {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("img/accouting.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.card-img-payroll {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("img/payroll.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.card-img-statutory {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("img/statutory.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.card-img-taxation {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("img/taxation.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#services .fig-image {
	background-color: #000000;
	transition: background-color 0.4s;
	-webkit-transition: background-color 0.4s;
	-moz-transition: background-color 0.4s;
	-ms-transition: background-color 0.4s;
	-o-transition: background-color 0.4s;
	overflow: hidden;
}

#services .fig-image:hover {
	background-color: rgb(124, 123, 123);
}

#services .fig-image .image {
	opacity: 0.7;
	transition: transform 0.4s;
	-webkit-transition: transform 0.4s;
	-moz-transition: transform 0.4s;
	-ms-transition: transform 0.4s;
	-o-transition: transform 0.4s;
}

#services .fig-image .image:hover {
	transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

/*-------------------*/
/*------ABOUT------*/
/*-------------------*/


#about .about-text {
	text-align: center;
	color: #fff;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.616), #00000000);
	padding: 15px;
}

/*-------------------*/
/*------CONTACT------*/
/*-------------------*/

#contact {
	background: rgba(12, 12, 12, 0.8);
	margin-bottom: 15px;
}

.map-cols {
	padding: 0;
}

.map-content {
	background: rgba(12, 12, 12, 0.8);
}

.map-content .contact-details {
	color: #fff;
	padding: 10px 25px;
	font-weight: 300;
}

.map {
	height: 300px;
	width: 100%;
}

.mapouter {
	position: relative;
	text-align: right;
	height: 300px;
	width: 100%;
}
.gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 300px;
	width: 100%;
}

#contact a {
	color: #c06993;
	border-bottom: 2px solid transparent;
}

#contact a:hover {
	border-bottom: 2px solid #bc075e;
}

form {
	position: relative;
	overflow-x: hidden;
}

.form-entry {
	width: 100%;
	height: 2.5rem;
	margin-bottom: 1rem;
	position: relative;
}

form input {
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	width: 100%;
	height: 100%;
	color: #fff;
	padding-top: 1rem;
}

form .form-label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	pointer-events: none;
	margin-bottom: 0.1rem;
}

form .text-area-label {
	position: relative;
	margin: 0;
}

form textarea {
	position: relative;
}

form .form-label::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid #bc075e;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transition: transform 0.2s ease-in;
	-webkit-transition: transform 0.2s ease-in;
	-moz-transition: transform 0.2s ease-in;
	-ms-transition: transform 0.2s ease-in;
	-o-transition: transform 0.2s ease-in;
}

form input:focus {
	outline: none;
	margin-bottom: 0.1rem;
}

form input:focus + .form-label .label-content,
form input.has-value + .form-label .label-content {
	font-size: 60%;
	transform: translateY(-200%);
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	-o-transform: translateY(-200%);
}

form input:focus + .form-label:after {
	transform: translateX(0%);
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	-ms-transform: translateX(0%);
	-o-transform: translateX(0%);
}

form .label-content {
	position: absolute;
	color: #c06993;
	bottom: 0;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
}

form .text-area {
	width: 100%;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}

form .text-area-entry {
	height: unset;
}


/*-------------------*/
/*------FOOTER------*/
/*-------------------*/

footer {
	position: relative;
	bottom: 0;
	min-height: 50px;
	margin-top: 20px;
}

footer p {
	font-size: 80%;
	color: rgb(207, 207, 207);
}

footer a {
	color: #c06993;
}

footer a:hover {
	color: #c06993;
	border-bottom: 1px solid #c06993;
}